$white: #FFF;
$black: #000;
$grey: #DFDFDF;
$gradient: linear-gradient(75deg, rgba(90,119,255,1) 0%, rgba(188,113,152,1) 50%, rgba(255,197,147,1) 100%);
$gradient-reverse: linear-gradient(75deg, rgba(255,197,147,1) 0%, rgba(188,113,152,1) 50%, rgba(90,119,255,1) 100%);

$default-font: "DM Sans", sans-serif;